body {
  background-color: wheat;
}

.todo-wrapper {
  background-color: rgb(0, 0, 0);
  padding: 50px 40px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.todoform {
  display: flex;
  align-items: center;
}

.todoform input {
  background-color: black;
  border: 1px solid wheat;
  height: 30px;
  width: 250px;
}

.todoform .todo-input::placeholder {
  color: wheat;
  padding: 12px;
}

.todoform .todo-btn {
  background-color: wheat;
  height: 30px;
  width: fit-content;
  border: 1px solid wheat;
}

.todoform .todo-btn:hover {
  background-color: rgb(173, 157, 127);
}